[Unit]
Description="Turn bluetooth power on before running bt-speaker.py"
After=bluetooth.service

[Service]
Type=notify
WorkingDirectory=/data/script/bt-speaker
ExecStart=/data/script/bt-speaker/bt_power.sh

[Install]
WantedBy=multi-user.target
