[Unit]
Description="Simple bluetooth speaker for the Raspberry Pi"

[Service]
TimeoutStartSec=0
WorkingDirectory=/data/script/bt-speaker
ExecStart=/data/script/bt-speaker/bt_speaker
Restart=always
User=btspeaker

[Install]
WantedBy=multi-user.target
